.semester {
  margin-top: 20px;
  margin-bottom: px;
  .semesterContainer {
    padding: 0px 20px 0 20px;

    
    .subjectContainer {
      margin-top: 10px;
      
      table {
        border-collapse: collapse;
    
        td,
        th {
          width: 200px;
          border: 1px solid #999;
    
          padding: 0.5rem;
          text-align: left;
        }
        .sn{
            width: 30px;
        }
        #subRow:hover{
            cursor: pointer;
        }

      }
    }
  }
}
